.user{
    padding: 20px;
    margin: 20px;
    background: #e1ffcf;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.row{
    display: flex;
    justify-content: space-around;
    padding: 50px;

}

button{
    padding: 10px 20px;
    background: white;
    border-radius: 50px;
    border: 1px solid orange;
    margin: 10px;
}